<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			Profound experience in software development, architecture and management. Team leader with natural influencing skill.
			Proficient problem solver and technical leader with practical design, development and architecture capabilities.
			Effective in presentation and communication.
		</div>
		<br>
	</div>
</div>
